body {
    font-family: Futura PT, sans-serif;
    font-style: normal;
    padding: 0;
    margin: 0;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 85px;
    place-items: center;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}

nav img {
    margin-left: 60px;
    max-width: 239px;
    height: auto;
}

nav ul {
    font-size: 0.78125em;
    font-weight: 500;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 33px;
    width: 56%;
}

nav a {
    all: unset;
}

nav ul li:nth-child(3) a {
    font-weight: 600;
}

body > article:first-of-type {
    background-color: #F1F1F1;
    padding-bottom: 70px;
}

#product_intro {
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: 48% 52%;
}

#product_intro *,
header h1 {
    padding: 0;
    margin: 0;
}

#product_intro img {
    margin-top: 26px;
    width: 535px;
    height: auto;
    margin-left: 48px;
}

#product_intro div {
    height: auto;
    margin-top: 140px;
    margin-left: 20px;
}

#product_intro div h1 {
    font-size: 5.88rem;
    font-weight: 500;
    margin-bottom: 24px;
}

#product_intro div h1 span {
    color: #AB303C;
}

#product_intro div p:nth-child(2) {
    line-height: 1.3;
    font-size: clamp(0.5rem, 7vw, 2.35em);
    background: linear-gradient(to right, #111111, #B1B1B1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

#product_intro div p:nth-child(3) {
    margin-bottom: 15px;
}

.buy {
    color: #F6F6F6;
    width: 134px;
    height: 36px;
    font-weight: bold;
    font-size: 0.9em;
    background-color: #30AB4C;
}

#product_intro header {
    margin-top: 100px;
}


@media (max-width: 1200px) {
    #product_intro {
        width: 100%;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    #product_intro img {
        margin-left: 0;
    }

    #product_intro div {
        margin-left: 0;
        margin-top: 50px;
        text-align: center;
        margin-bottom: 50px;
    }
}

header h1:first-child {
    padding-left: 2px;
    text-align: center;
    font-size: 38px;
    font-weight: 500;
    background: linear-gradient(to right, #111111, #B1B1B1, #696969, #B1B1B1);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 10px;
}

header hr {
    width: 7%;
}

header:first-of-type {
    margin-bottom: 130px;
}

#product_info {
    margin: auto;
    width: 82%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

#product_info section {
    text-align: center;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 266px;
}

#product_info section img {
    margin-top: 20px;
}

#product_info section h1 {
    padding: 0;
    margin: 0;
    font-size: 24.3px;
    font-weight: 500;
}

.circle_one {
    width: 35px;
    height: 35px;
    background-color: #FFFFFF;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    margin-left: 21.5px;
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.25);
}

#product_info div:last-child hr {
    margin-top: 15px;
    width: 70.5%;
    margin-right: 85px;
}

#product_info section:nth-child(2) ol {
    padding: 0;
    margin: 0;
    width: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

#product_info section:nth-child(2) li {
    margin-top: 10px;
    gap: 13px;
    width: 70%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#product_info section h1 hr {
    width: 25.5%;
}

#product_info section p {
    font-size: 16px;
    font-weight: 300;
    width: 80%;
}

#product_info section:nth-child(1) img, #product_info section:nth-child(2) > div img,  #product_info section:nth-child(3) img  {
    max-height: 227px;
    width: auto;
}

#product_info section:nth-child(1) img {
    margin-left: 5px;
    padding-bottom: 10px;
}

#product_info section:nth-child(1) div {
    margin-left: 30px;
    width: 281px;
    height: auto;
    border-bottom: solid black 2px;
}

#product_info section:nth-child(2) > div {
    margin-left: 10px;
    justify-content: center;
    display: flex;
    gap: 17px;
}

#product_info section:nth-child(2) > div img {
    max-width: 70%;
    height: auto;
}

#product_info section:nth-child(3) img {
    margin-left: 95px;
}

#product_info section:nth-child(1) p {
    margin-left: 18px;
}

#product_info section:nth-child(3) p {
    margin-left: 59px;
    width: 85.5%;
}

#product_info section:nth-child(1) h1 {
    margin-right: 65.5px;
}

#product_info section:nth-child(2) h1 {
    margin-left: 5.5px;
}

#product_info section:nth-child(3) h1 {
    margin-left: 69px;
}

@media (max-width: 1400px) {
    #product_info {
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
    }

    #product_info section {
        justify-items: center;
    }

    #product_info section:nth-child(1) h1 {
        margin-right: 0;
    }

    #product_info section:nth-child(1) p, 
    #product_info section:nth-child(1) div, 
    #product_info section:nth-child(3) h1,
    #product_info section:nth-child(3) p,
    #product_info section:nth-child(3) img {
        margin-left: 0;
    }

    #product_info section:nth-child(2) li {
        width: 100%;
    }
}

@media (max-width: 900px) {
    #product_info {
        grid-template-columns: 1fr;
    }
}

body > article:nth-of-type(2) header {
    margin-top: 40px;
}

body > article:nth-of-type(2) header h1:nth-child(3) {
    margin-top: 80px;
    margin-left: 14px;
    text-align: center;
    font-weight: 400;
    font-size: 24.5px;
}

#product_ingredients {
    width: 80%;
    margin: auto;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
}

#product_ingredients section:nth-child(1) hr {
    margin-top: 16px;
    width: 68%;
}

#product_ingredients section:nth-child(-n+3) {
    margin-right: 20px;
}

#product_ingredients section:nth-last-child(-n+3) {
    margin-left: 6px;
}

#product_ingredients section:nth-child(-n+3) p:nth-child(3) {
    margin-right: 7px;
}


#product_ingredients div {
    grid-column: 2 ;
    grid-row: 1 / span 3;
}

#product_ingredients img {
    max-width: 476px;
    height: auto;
    margin-left: 36px;
}

#product_ingredients p {
    font-weight: 100;
}

#product_ingredients h1 {
    padding: 0;
    margin: 0;
    font-size: 25px;
    font-weight: 400;
    margin-top: 15px;
}

.circle_two {
    margin-top: 100px;
    width: 56px;
    height: 56px;
    background-color: #D9D9D9;
    border-radius: 50%;
    margin: 0 auto;
}

#product_ingredients .buy {
    background-color: #AD4844;
}

body > article:nth-of-type(2) > img {
    display: block;
    max-width: 752px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
}

@media (max-width: 1400px) {
    #product_ingredients {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    #product_ingredients div {
        grid-column: 1 / span 2;
        grid-row: 1 / span 3;
        margin-bottom: 30px;
    }
    #product_ingredients img {
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 620px) {
    #product_ingredients {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }
    
    #product_ingredients div {
        grid-column: 1;
        grid-row: 1 / span 3;
    }

    #product_ingredients .buy {
        margin-right: 20px;
    }
}

body > article:nth-of-type(3) {
    padding-top: 90px;
    background-color: #F1F1F1;
    min-height: 200px;
    display:  flex;
    justify-content: center;
}

#products {
    position: relative;
    width: 85.4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#select_bar {
    display: flex;
    width: 288px;
    align-items: center;
    justify-content: space-between;
    border: solid #AD4844 1px;
    margin-bottom: 100px;
}

#select_bar {
    background-color:white;
}

#select_bar p {
    padding-left: 5px;
}

#select_bar,  #drop_down_list button {
    height: 37px;
}

#select_bar img {
    width: 15px;
    height: auto;
}

#select_bar {
    position: relative;
}

#drop_down_list {
    display: flex;
    width: 98px;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 191px;
    font-weight: 600;
}

#drop_down_list li, #drop_down_list button {
    width: 100%;
}

#drop_down_list button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#first_select_item {
    border-top: 1px #AD4844 solid;
}

.button_style_1,
.button_style_2 {
    all: unset;
    display: inline-block;
    cursor: pointer;
}

.button_style_1, .button_style_2:hover {
    background-color: #AD4844;
    color: white;
}

.button_style_2 {
    background-color: white;
}

#products ul li:first-child button {
    gap: 5px;
}

.list_item {
    visibility: hidden;
}

.show {
    visibility: visible;
}

#products_list {
    width: 100%;
    display: grid;
    grid-template-columns: 292px 292px 292px 292px;
    grid-auto-rows: 292px;
    justify-content: space-between;
    row-gap: 30px;
    font-size: 25px;
}

@media (max-width: 1400px) {
    #products_list {
        grid-template-columns: 180px 180px 180px;
        grid-auto-rows: 180px;    
    }

    @media (max-width: 620px) {
        #products_list {
            grid-template-columns: 180px 180px;
            grid-auto-rows: 180px;
        }
    }
}

#products_list > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BEBEBE;
}


