body {
    position: relative;
    font-family: Futura PT, sans-serif;
    font-style: normal;
    padding: 0;
    margin: 0;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 85px;
    place-items: center;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    position: relative;  
    z-index: 1;
}

nav img {
    margin-left: 69px;
    max-width: 189px;
    height: auto;
}

nav ul {
    font-size: 12.5px;
    font-weight: 500;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 33px;
    width: 56%;
}

nav a {
    all: unset;
    cursor: pointer;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 9px;
}



nav ul li:nth-child(3) a {
    font-weight: 600;
}

#mobile_menu_button {
    display: none;
}

@media (max-width: 1200px) {
    nav {
        grid-template-columns: 1fr;
    }
    
    nav ul {
        justify-content: center;
    }
    
    nav img {
        margin-left: 0;
    }
}

@media (min-width: 320px) and (max-width: 415px) {
    nav {
        position: static;
        place-items: normal;
        grid-template-columns: 1fr 1fr;
        background-color: #F1F1F1;
        box-shadow: none;
    }

    nav img:first-of-type {
        justify-self: flex-start;
        max-width: 95px;
        height: auto;
        padding: 15px;
    }

    nav ul {
        display: none;
    }

    #mobile_menu_button {
        padding: 15px;
        justify-self: flex-end;
        display: block;
        z-index: 3;
    }
}

#introductory_content {
    position: relative;
    background-color: #F1F1F1;
    padding-bottom: 30px;
}

#introductory_content > .vector:nth-of-type(1) {
    width: 20%;
    left: 0;
    top: 42%;
}

#introductory_content > .vector:nth-of-type(2) {
    width: 25%;
    right: 0;
    top: 41%;
}

#introductory_content > .vector:nth-of-type(3) {
    width: 6%;
    right: 0;
    top: 28%;
}

#product_intro {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 48.5% 51.5%;
}

#product_intro p,
header h2,
#product_info section p {
    padding: 0;
    margin: 0;
}


#product_intro > div:nth-child(1) {
    display: flex;
    justify-content: center;
}

#product_intro div:nth-child(1) > div {
    margin-top: 26px;
    margin-right: 28px;
    position: relative;
}

#product_intro img:not(.vector) {
    max-width: 528px;
    width:  100%;
    height: auto;
    position: relative;
    z-index: 2;
}

#product_intro > div:nth-child(1) {
    position: relative;
}

#product_intro > div:nth-child(2) {
    height: auto;
    margin-top: 140px;
}

#product_intro + header {
    margin-top: 7.9vw;
}

h1 {
    padding: 0;
    margin: 0;
    font-size: clamp(40px, 6.24vw, 6.25vw);
    font-weight: 500;
    margin-bottom: 24px;
    margin-left: 9px;
}

#product_intro > div:nth-child(2) h1 span {
    color: #AB303C;
}

#product_intro > div:nth-child(2) div {
    margin-left: 8px;
}

#product_intro > div:nth-child(2) div p:nth-child(1) {
    line-height: 1.3;
    font-size: clamp(20px, 5vw, 37.6px);
    background: linear-gradient(to right, #111111, #B1B1B1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.vector {
    z-index: 1;
    position: absolute;
    height: auto;
}

#product_intro div:nth-child(1) .vector:nth-child(1) {
    bottom: 10.5%;
    left: 2.5%;
    width: 17%;
}

#product_intro div:nth-child(1) .vector:nth-child(2) {
    width: 22.5%;
    right: 2.5%;
    top: 42%;
}

#product_intro > div:nth-child(2) div p:nth-child(2) {
    margin-bottom: 15px;
}

.buy {
    color: #F6F6F6;
    width: 134px;
    height: 36px;
    font-weight: bold;
    font-size: 14.4px;
    background-color: #30AB4C;
    border: none;
}

#product_intro header {
    margin-top: 100px;
}


@media (max-width: 1200px) {
    #product_intro {
        width: 100%;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    #product_intro img:not(.vector) {
        margin-right: 0;
    }

    #product_intro>div:nth-child(2) div {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #product_intro > div:nth-child(2) {
        margin-left: 0;
        margin-top: 50px;
        text-align: center;
        margin-bottom: 50px;
    }
}

@media (min-width: 320px) and (max-width: 415px) {
    #product_intro button, 
    h1 {
        display: none;
    } 
    
    #product_intro img:not(.vector) {
        margin-top: 8px;
        width: 290px;
        margin-right: 5px;
        height: auto;
    }

    #product_intro > div:nth-child(2) {
        margin-top: 25px;
        margin-bottom: 112px;
    }

    #product_intro > div:nth-child(2) div p:nth-child(1) {
        margin-bottom: 20px;
    }

    #product_intro div:nth-child(1) .vector:nth-child(1) {
        width: 16%;
        left: 3%;
        bottom: 10%;
    }

    #product_intro div:nth-child(1) .vector:nth-child(2) {
        width: 23%;
        right: 3%;
    }

    #product_intro > .vector:first-of-type {
        width: 22%;
        top: 20.1%;
        left: 0;
    }
    #product_intro > .vector:last-of-type {
        width: 18%;
        top: 23.5%;
        right: 0;
    }
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
    font-size: clamp(20.8px, 2.5vw, 2.6vw);
    font-weight: 500;
    background: linear-gradient(to right, #111111, #B1B1B1, #696969, #B1B1B1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: max-content;
    padding-bottom: 10px;
}

header hr {
    margin-top: 15px;
    width: 7%;
}


#introductory_content > header {
    margin-bottom: 6.5vw;
}

#product_info {
    margin: auto;
    width: 85.5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

#product_info section {
    text-align: center;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 330px;
    position: relative;
    z-index: 2;
}

#product_info section:nth-child(1) .vector:nth-of-type(1) {
    width: 19%;
    left: 0.5%;
    top: 58%;
}

#product_info section:nth-child(1) .vector:nth-of-type(2) {
    width: 17%;
    right: 7%;
    top: 53.5%;
}

#product_info section:nth-child(2) .vector:nth-of-type(1) {
    left: 5%;
    top: 58.5%;
    width: 19%;
}

#product_info section:nth-child(2) .vector:nth-of-type(2) {
    right: 13%;
    top: 58.5%;
    width: 16%;
}

#product_info section:nth-child(3) .vector:nth-of-type(1) {
    width: 17%;
    top: 53%;
    left: 5.2%;
    z-index: 3;
}

#product_info section:nth-child(3) .vector:nth-of-type(2) {
    width: 17%;
    right: 9%;
    bottom: 15.2%;
}

#product_info section img:not(.vector) {
    margin-top: 20px;
}

#product_info section > div {
    position: relative;
    z-index: 2;
    margin-top: 15px;
}

#product_info h4 {
    padding: 0;
    margin: 0;
    font-size: 24.3px;
    font-weight: 500;
}

.circle_one {
    width: 35px;
    height: 35px;
    background-color: #FFFFFF;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    margin-left: 21.5px;
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.25);
}

#product_info div:last-child hr {
    margin-top: 15px;
    width: 70.5%;
    margin-right: 85px;
}

#product_info ol, #product_effect ol {
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    padding: 0;
    margin: 0;
    width: auto;
    list-style: none;   
}

#product_info ol {
    grid-template-rows: 60px 60px;
}

#product_effect ol {
    margin-top: 49px;
    grid-template-rows: 60px 60px 60px 65px 65px 62px 1fr;
    justify-items: start;
    row-gap: 9px;
}

#product_info ol li,
#product_effect ol li {
    display: flex;
    align-items: center;
}

#product_info ol li {
    margin-right: 5px;
    gap: 15px;
    width: 70%;
}

#product_effect ol li:nth-child(4) {
    margin-bottom: 4px;
}

#product_effect ol li:nth-child(5) {
    margin-bottom: 11px;
}

#product_effect ol li:nth-child(6),
#product_effect ol li:nth-child(7) {
    margin-bottom: auto;
}

#product_info section h4 hr {
    width: 25.5%;
}

#product_info section p {
    font-size: 16px;
    font-weight: 300;
    width: 77%;
}

#product_info section img {
    max-height: 227px;
    width: auto;
}

#product_info section:nth-child(1) div {
    margin-left: 61px;
    width: 281px;
    height: 265px;
    border-bottom: solid black 2px;
}

#product_info section:nth-child(2) > div {
    margin-left: 4px;
    justify-content: center;
    display: flex;
    gap: 17px;
}

#product_info section:nth-child(3) img:not(.vector) {
    margin-left: 30px;
}

#product_info section p {
    margin-top: 10px;
}

#product_info section:nth-child(1) p {
    margin-left: 33.5px;
}

#product_info section:nth-child(3) p {
    width: 80%;
    margin-left: 53px;
}

#product_info section:nth-child(1) h4 {
    margin-right: 34px;
}

#product_info section:nth-child(2) h4 {
    margin-right: 3px;
}

#product_info section:nth-child(3) h4 {
    margin-left: 23px;
}


@media (max-width: 1400px), (min-width: 1664px) {
    #product_info section:nth-child(1) p,
    #product_info section:nth-child(1) div,
    #product_info section:nth-child(3) h4,
    #product_info section:nth-child(3) p,
    #product_info section:nth-child(3) img,
    #product_info section:nth-child(3) img:not(.vector) {
        margin-left: 0;
    }

    #product_info section:nth-child(1) h4 {
        margin-right: 0;
    }
}

@media (min-width: 1664px) {
    #product_info section {
        justify-items: center;
    }

    #product_info ol li {
        width: 100%;
    }
}

@media (max-width: 1400px) {
    #product_info {
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
    }

    #product_info section {
        justify-items: center;
    }


    #product_info section:nth-child(2) li {
        width: 100%;
    }

    #product_info section:nth-child(3) img:not(.vector) {
            margin-left: 0;
    }
}

@media (max-width: 900px) {
    #product_info {
        grid-template-columns: 1fr;
    }

    #product_info section:nth-child(1) img.vector:nth-of-type(1) {
        left: 25%;
        top: 55%;
        width: 10%;
    }

    #product_info section:nth-child(1) img.vector:nth-of-type(2) {
        right: 25%;
        top: 55%;
        width: 10%;
    }

    #product_info section:nth-child(2) img.vector:nth-of-type(1) {
        left: 25%;
        top: 55%;
        width: 10%;
    }

    #product_info section:nth-child(2) img.vector:nth-of-type(2) {
        right: 25%;
        top: 55%;
        width: 10%;
    }

    #product_info section:nth-child(3) img.vector:nth-of-type(1) {
        display: none;
    }

    #product_info section:nth-child(3) img.vector:nth-of-type(2) {
        right: 25%;
        top: 55%;
        width: 10%;
    }

}

@media (min-width: 320px) and (max-width: 415px) {
    #product_info section {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        grid-template-rows: 83.5px 139px 330px;
    }

    #product_info {
        width: 100%;
    }

    #product_info section:nth-child(4) {
        padding-top: 60px;
        padding-bottom: 26px;
        display: block;
    }

    #product_info section h4 hr {
        margin-top: 18px;
        width: 70%;
    }

    header hr {
        width: 45%;
    }

    #product_info ol .circle_one {
        margin-left:40px;
    }

    #product_effect ol .circle_one {
        margin-left: 16px;
    }

    #product_info ol, 
    #product_effect ol {
        font-weight: 100;
        font-size: 13px;
    }

    #product_info ol {
        margin-top: 5px;
        margin-right: 41px;
        row-gap: 10px;
    }

    #product_info ol li {
        margin-top: 3px;
        width: 100%;
        flex-wrap: nowrap;
        text-align: left;
        gap: 21px
    }

    #product_effect ol li {
        gap: 29px;
    }
     
    body > article:first-of-type {
        padding-bottom: 35px;
    }

    #product_info section p, #product_intro div div p:nth-child(2) {
        margin: 0 0;
        font-size: 13px;
        font-weight: 300;
        width: 80%;
        margin-right: 9px;
    }

    #product_info section p {
        margin-top: 19px;
        margin-bottom: 12px;
        width: 88%;
    }
    
    #product_info section:nth-of-type(3) p {
        width: 93%;
    }

    #product_info {
        row-gap: 45.5px;
    }

    #product_info section img {
        max-height: 287px;
        width: auto;
    }

    #product_info section > h4 {
        font-size: 21px;
    }

    #product_info section:nth-child(1) div {
        height: 306px;
        width: auto;
    }

    #product_info section:nth-child(1) img,
    #product_info section:nth-child(3) img {
        margin-top: auto;
    }


    #product_info section:nth-child(2) img {
        margin-top: 10px;
    }

    #product_info section:nth-of-type(2) li:nth-child(2) {
        margin-left: 35px;
    }
        
    .circle_one {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
    

    #product_info section:nth-child(2) > div {
        margin-left: 3.5px;
        gap: 21px;
    }

    #product_info section > div {
        margin-top: 8.5px;
    }
    
    body > article:first-of-type>header:first-of-type {
        margin-bottom: 60px;
    }

    #product_info > .vector:nth-of-type(1) {
        top: 52.2%;
    }

    #product_info>.vector:nth-of-type(2) {
        right: 0;
        top: 52.2%;
    }

    #product_info>.vector:nth-of-type(3) {
        left: 0;
        top: 75%;
    }
    #product_info>.vector:nth-of-type(4) {
        right: 0;
        top: 76%;
    }

    header hr {
        margin-top: 15px;
    }

    header hr:nth-of-type(2) {
        margin-top: 6px;
    }

    #introductory_content > header {
        margin-bottom: 60px;
    }
}

#product_effect {
    display: none;
}

#product_effect > header {
    position: relative;
    padding-top: 69px;
}

#product_effect ol {
    margin-bottom: 28px;
}

#product_effect hr:nth-child(3) {
    margin-bottom: 30px;
    height: 18px;
    border: none;
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;
}

@media (min-width: 320px) and (max-width: 415px) {
    #product_effect {
        display: block;
    }
    
    #product_effect > header img.vector:nth-of-type(1) {
        left: 0;
        top: 15%;
    }
    body>article:nth-of-type(2)>header img.vector:nth-of-type(2) {
        right: 0;
        top: 27%;
    }
}

body > article:nth-of-type(3) header {
    margin-bottom: 2.5vw;
    padding-top: 40px;
}

h3 {
    margin-top: max(5.25vw, 60px);
    font-weight: 400;
    font-size: clamp(13px, 1.62vw, 2.5vw);
}

body > article:nth-of-type(3) header hr:nth-of-type(2) {
    display: none;
}

#product_ingredients {
    width: 83%;
    margin: auto;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0.93fr 1.21fr 0.87fr;
    grid-template-rows: 33px 1fr 1fr 1fr;
    grid-template-areas: ".               pic     ."
                         "siarcz_gluko    pic     czarci_paz"
                         "siarcz_chond    pic     vit_c"
                         "kwas_hialur     pic     msm";
}

#product_ingredients .buy {
        width: 136px;
}

#product_ingredients section:nth-child(1) hr {
    margin-top: 16px;
    width: 56.3%;
}

#product_ingredients section:nth-child(1) {
    grid-area: siarcz_gluko;
}

#product_ingredients section:nth-child(2) {
    grid-area: siarcz_chond;
}

#product_ingredients section:nth-child(3) {
    grid-area: kwas_hialur;
}

#product_ingredients section:nth-child(5) {
    grid-area: czarci_paz;
}

#product_ingredients section:nth-child(6) {
    grid-area: vit_c;
}

#product_ingredients section:nth-child(7) {
    grid-area: msm;
}

#product_ingredients section:nth-child(8) {
    grid-area: syrop;
}

.left_items {
    margin-right: 12px;
}

.right_items {
    margin-right: 33px;
}

.hiden_items {
    display: none;
}

.left_items , .right_items, .hiden_items {
    text-align: center;
}

#product_ingredients section img {
    margin: 0 auto;
    display: none;
}

#product_ingredients section:nth-child(-n+3) p:nth-child(3) {
    margin-right: 10px;
}

#product_ingredients section:nth-child(3) p:nth-child(3) {
    width: 95%;
}

#product_ingredients div:nth-child(4) {
    position: relative;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: pic;
}


#product_ingredients div:nth-child(4) img.vector:nth-child(2) {
    left: 0.5%;
    top: 31%;
    width: 38%;
}

#product_ingredients div:nth-child(4) img.vector:nth-of-type(2) {
    right: 1.5%;
    top: 27%;
    width: 30%;
}

#product_ingredients div:nth-child(4) picture img {
    z-index: 2;
    max-width: 474px;
    min-width: 223px;
    margin-left: 5px;
    margin-bottom: 30px;
    width: 31.5vw;
    height: auto;
}

#product_ingredients p {
    font-weight: 100;
}

#product_ingredients h4 {
    padding: 0;
    margin: 0;
    font-size: clamp(19px, 1.63vw, 1.63vw);;
    font-weight: 400;
    margin-top: 15px;
}

.circle_two {
    margin-top: 100px;
    width: 56px;
    height: 56px;
    background-color: #D9D9D9;
    border-radius: 50%;
    margin: 0 auto;
}

#product_ingredients .buy {
    margin-right: 28px;
    transform: translateY(-7vw);
    background-color: #AD4844;
}

#product_ingredients > div picture img {
    position: relative;
}

#graphic_cont {
    display: flex;
    justify-content: center;
    width: 100%;
}

#graphic_cont > div {
    margin-top: 40px;
    position: relative;
    width: 100%;
    max-width: 49%;
    min-width: 500px;
    height: auto;
    margin-right: 10px;
}

@media (min-width: 320px) and (max-width: 415px) {
    #graphic_cont > div {
        overflow: hidden;
        min-width: 320px;
        max-width: 330px;
        margin-top: 0;
        margin-right: 0;
    }
}

body > div:first-of-type > div img:not(.vector) {
    display: block;
    position: relative;
    z-index: 2;
    width: 100%;
    height: auto;
}

body > div:first-of-type > div img.vector:nth-child(1) {
    width: 30%;
    left: 14.25%;
    top: 36%
}

body > div:first-of-type > div img.vector:nth-child(2) {
    width: 25%;
    right: 6%;
    top: 22%
}

@media (max-width: 1400px) {
    #product_ingredients {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "pic pic "
                             "pic pic"
                             "siarcz_gluko czarci_paz"
                             "siarcz_chond vit_c"
                             "kwas_hialur  msm";
    }

    #product_ingredients section:nth-last-child(-n+4) {
            margin-right: 0;
    }

    #product_ingredients > div:nth-child(4) {
        margin-bottom: 30px;
    }

    #product_ingredients div:nth-child(4) img.vector:nth-of-type(1) {
        left: 22%;
        width: 22%;
    }

    #product_ingredients div:nth-child(4) img.vector:nth-of-type(2) {
        right: 26%;
        width: 22%;
    }
}

@media (max-width: 620px) {
    #product_detai {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    #product_ingredients {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        grid-template-areas: "pic "
                             "pic"
                             "siarcz_gluko"
                             "siarcz_chond"
                             "kwas_hialur"
                             "czarci_paz"
                             "vit_c"
                             "msm";
    }
    
    #product_ingredients div {
        grid-column: 1;

    }
}

@media (min-width: 320px) and (max-width: 415px) {
    #product_ingredients {
        grid-template-areas: "siarcz_gluko"
                             "czarci_paz"
                             "siarcz_chond"
                             "vit_c"
                             "kwas_hialur"
                             "msm"
                             "syrop"
                             "pic";
    grid-template-rows: 250px 250px 270px 265px 265px 265px 190px 1fr;
    justify-items: center;
    row-gap: 24px;
    }

    #product_ingredients section {
        display: flex;
        flex-direction: column;
        justify-content: end;
        row-gap: 19px;
        width: 94%;
    }

    #product_ingredients section:nth-of-type(2) {
        gap: 21px
    }

    #product_ingredients section:nth-of-type(2) img {
        display: block;
    }

    .circle_two {
        display: none;
    }

    #product_ingredients div:nth-child(4) picture img {
        margin-top: 41px;
        margin-bottom: 0;
        margin-left: 5px;
        min-width: 210px;
    }

    .left_items {
        margin-right: 0;
    }
    

    #product_ingredients section:nth-child(1) hr {
        display: none;
    }

    #product_ingredients section img, #product_ingredients section:last-child {
        display: flex;
    }

    body > article:nth-of-type(3) > img {
        transform: translateX(-63px);
    }

    #product_ingredients p {
        margin: 0;
        font-size: 13px;
    }

    body > article:nth-of-type(3) header hr:nth-of-type(2) {
        display: block;
        width: 45%;
    }

    body > article:nth-of-type(3) header {
        position: relative;
        padding-top: 67px;
        margin-bottom: 50px;
    }

    body > article:nth-of-type(3) header h1:nth-child(3) {
        margin-top: 62px;
        margin-bottom: 12px;
        font-size: 13px;
    }

    body > article:nth-of-type(3) header img.vector:nth-of-type(1) {
        left: 0;
        top: 10%;
    }
    
    body > article:nth-of-type(3) header img.vector:nth-of-type(2) {
        right: 0;
        top: 17%;
    }

    #product_ingredients section {
        position: relative;
    }

    #product_ingredients h4 {
        font-size: 20.5px;
        margin-top: 0;
    }

    #product_ingredients > div:nth-child(4) {
        margin-bottom: 0;
        width: 100%;
    }

    #product_ingredients section:nth-of-type(5) {
        row-gap: 19px;
    }

    #product_ingredients section:nth-of-type(5) img:not(.vector) {
        margin-bottom: 9px;
    }

    #product_ingredients section:nth-of-type(3) {
        row-gap: 20px;
    }

    #product_ingredients section:nth-of-type(6) {
        row-gap: 20px;
    }
        
    #product_ingredients section:nth-of-type(4) img.vector:nth-of-type(2) {
        top: 10%;
    }

    #product_ingredients section:nth-of-type(4) img.vector:nth-of-type(3) {
        right: 0;
        top: 18%;
    }

    #product_ingredients section:nth-of-type(5) img.vector:nth-of-type(2) {
        top: 7%;
    }

    #product_ingredients section:nth-of-type(5) img.vector:nth-of-type(3) {
        top: 13%;
        right: 0;
    }
    
    #product_ingredients section:nth-of-type(6) img.vector:nth-of-type(2) {
        top: 4%;
    }

    #product_ingredients section:nth-of-type(6) img.vector:nth-of-type(3) {
        top: 11%;
        right: 0;
    }

    #product_ingredients div:nth-child(4) img.vector:nth-child(2) {
        left: 5.5%;
        width: 45%;
        max-width: 200px;
        transform: rotate(-26deg);
    }

    #product_ingredients div:nth-child(4) img.vector:nth-child(3) {
        width: 37%;
        top: 22%;
        right: 10.5%;
        max-width: 150px;
        transform: scaleX(-1) rotate(-38deg);
    }

    body > div:first-of-type > div img.vector:nth-child(1) {
        left: 2%;
        width: 40%;
    }

    body > div:first-of-type > div img.vector:nth-child(2) {
        right: -8%;
        width: 33%;

    }
}

#buy_section {
    z-index: 2;
    position: relative;
    padding-top: 90px;
    background-color: #F1F1F1;
    min-height: 200px;
    display:  flex;
    justify-content: center;
}

#products {
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#select_bar {
    display: flex;
    width: 289px;
    align-items: center;
    justify-content: space-between;
    border: solid #AD4844 1px;
    margin-bottom: 100px;
    position: relative;
    height: 37px;
    background-color: white;
    margin-right: 4px;
}


#select_bar p {
    padding-left: 7px;
}

#select_bar,  #drop_down_list button {
    box-sizing: border-box;
}


#select_bar img {
    width: 15px;
    height: auto;
}

#drop_down_list {
    display: flex;
    width: 101px;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 188px;
    font-weight: 600;
}

#drop_down_list li, #drop_down_list button {
    width: 100%;
}

#drop_down_list button {
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button_style_1,
.button_style_2 {
    all: unset;
    display: inline-block;
    cursor: pointer;
}

.button_style_1, .button_style_2:hover {
    background-color: #AD4844;
    color: white;
}

.button_style_2 {
    background-color: white;
}

#products ul li:first-child button {
    gap: 5px;
}

.list_item {
    visibility: hidden;
}


.list_item span {
    margin-right: 15px;
}

.list_item.show {
    z-index: 2;
}

.show {
    visibility: visible;
}

#products_list {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 292px 292px 292px 292px;
    grid-auto-rows: 292px;
    row-gap: 30px;
    column-gap: 37px;
    justify-content: center;
    font-size: 25px;
}

@media (max-width: 1400px) {
    #products_list {
        justify-content: center;
        grid-template-columns: repeat(auto-fill, minmax(auto, 220px));
        grid-auto-rows: minmax(auto, 220px);    
    }
}


@media (min-width: 320px) and (max-width: 415px) {
    #product_ingredients > div:nth-child(4) button{
        display: none;
    }

    #products {
        margin-right: 9px;
        margin-top: 30px;
        width: 81%;
    }

    #products_list {
        width: 100%;
        justify-content: space-between;
        grid-template-columns: repeat(2, minmax(101px, 140px));;
        grid-auto-rows: minmax(101px, 140px);
        column-gap: 47px
    }
    
    .product_item {
        aspect-ratio: 1 / 1;
    } 

    #select_bar {
        margin-right: 0;
        width: 100%;
        margin-bottom: 77px;
        border: solid #AD4844 2px;
        justify-content: center;
        align-items: center;
    }

    #select_bar, #drop_down_list button {
        height: 44px;
    }

    #select_bar p, #drop_down_list  {
        font-size: 20px;
    }

    #select_bar p {
        padding-right: 10px;
        padding-top: 11px;
        padding-bottom: 15px;
        margin: 0;
    }

    #drop_down_list {
        font-weight: 900;
        transform: translate(-1.5px, 42px);
        left: 0;
        width: calc(100% + 3px);;
    }

    #drop_down_list:has(.list_item.show) {
        z-index: 2;
    }
}

.product_item {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BEBEBE;
}

.product_item span {
    display: none;
}

.mobile_new_line {
    display: none;
}

.normal_new_line {
    display: inline;
}

.mobile_vector {
    display: none;
}

.normal_vector {
    display: block;
}

@media (min-width: 320px) and (max-width: 415px) {
    .normal_new_line,
    .normal_vector {
        display: none;
    }
    
    .mobile_new_line {
        display: inline;
    }

    .mobile_vector {
        display: block;
    }
}

